* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;

}
/* header */
.header {
    background-image: linear-gradient(rgb(7, 7, 7), rgba(4, 9, 30, 0.7)), url(photo/background.png.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #00cc99;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.logo {
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.logo_image {
    height: 100px;
    display: flex;
}

nav .fa {
   display: none; 
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #00cc99;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;

    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


